# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep's lock file, toml should be included instead
# Gopkg.lock

# dep vendor libraries
vendor/*

# the default executable
echogogo*
